#novaEquipe {
  border-radius: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;

  & > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    & > div {
      display: flex;
      flex-direction: column;
      margin: 0.5rem;

      & > input {
        border-radius: 1rem;
        border: none;
        height: 3rem;
        width: 50rem;
        padding-left: 2rem;
        background-color: rgba(38, 38, 142, 0.877);
      }
      & > input::placeholder {
        color: rgba(255, 255, 255, 0.797);
      }
    }
    & > button {
      cursor: pointer;
      border: none;
      border-radius: 2rem;
      height: 2rem;
      width: 15rem;
      background-color: blue;
      color: white;
    }
  }
}
.input-number::-webkit-outer-spin-button,
.input-number::-webkit-inner-spin-button {
  margin-right: 2rem;
}
#escudos {
  background-color: white;
  width: 50rem;
  border-radius: 0 0 2rem 2rem;
  padding: 1rem 2rem 1rem 2rem;
  display: flex;
}

#escudos > img {
  margin: 0.5rem;
  cursor: pointer;
  height: 5rem;
  width: 5rem;
  border-radius: 1rem;
  &:not(.escudoSelecionado):hover {
    border: 3px solid red;
    transform: scale(1.1);
  }
}
.escudoSelecionado {
  border: 5px solid green;
  &:hover {
    transform: scale(1.1);
  }
}
p {
  margin-left: 0.5rem;
}
#opcao-time {
  position: absolute;
  width: 12rem;
  height: 30rem;
  border-radius: 3rem;
  & > button {
    margin: 0;
    background-color: rgb(199, 192, 192);
  }
  display: none;
}
